.header-bg{
    background-color:#26262B;
}
.header-logo h3{
    font-family: fantasy;
}

.logOut-Btn{
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    font-size: 16px;
    padding: 0px;
}
.navbar-nav a{
    color: white;
}
