.notFound-bg{
    background-image: url(../../images/notFound.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:50px;
    padding-bottom: 150px;
}
.backlink{
    margin-top:320px;
}